.App {
  text-align: center;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.app__login{
  width: 400px;
  margin: 0 auto;
  display: flex;
  height: 620px;
  align-items: center;
  justify-content: center;
}